In [48]:
# Import all dependencies

from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import time

In [3]:
executable_path = {'executable_path':"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# NASA Mars News Site

url_news = "https://mars.nasa.gov/news/"
browser.visit(url_news)
html = browser.html
news_soup = bs(html, "html.parser")

In [5]:
# Assign the latest news title and paragraph text to variables and print it

news_title = news_soup.find("div",class_="content_title").text
news_p = news_soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Paragraph Text: {news_p}")

Title: Mars Now
Paragraph Text: NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

In [16]:
# JPL Mars Space Images - Featured Image

url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_image)

In [17]:
# Extracting the base url

from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(url_image))
print(base_url)

https://www.jpl.nasa.gov/

In [18]:
# xpath selector to grab the image

xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [19]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [21]:
# Extracting the image url

html_image = browser.html
img_soup = bs(html_image, "html.parser")
img_url = img_soup.find("img", class_="thumb")["src"]
full_img_url = base_url + img_url
print(full_img_url)

https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23745-640x350.jpg

In [37]:
# Getting latest Mars weather tweet

url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [39]:
html = browser.html
weather_soup = bs(html, "html.parser")
    
tweet_attrs = {"elems":"tweet", "data-name":"Mars Weather"}
mars_weather_tweet = weather_soup.find("div", attrs=tweet_attrs)
    
mars_weather = mars_weather_tweet.find("p", "tweet-text").get_text()

AttributeError: 'NoneType' object has no attribute 'find'

In [44]:
# Extracting Mars Facts

url_facts = "https://space-facts.com/mars/"

df = pd.read_html(url_facts)
df[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [45]:
df_facts = df[0]
df_facts.columns = ["Description", "Value"]
df_facts.set_index("Description", inplace=True)

In [46]:
df_facts

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [47]:
html_factstable = df_facts.to_html(classes="table table-striped")
facts_table = html_factstable.replace("\n", "")
facts_table

'<table border="1" class="dataframe table table-striped">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [50]:
# Getting images for each of Mar's hemispheres

url_hemispheres = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemispheres)
hemisphere_img_urls = []
h_data = browser.html
hemispheres_soup = bs(h_data, "html.parser")

products = hemispheres_soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    h_data = browser.html
    hemispheres_soup=bs(h_data, "html.parser")
    downloads = hemispheres_soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    hemisphere_img_urls.append({"title": title, "img_url": image_url})

In [52]:
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]